.state-display {
  padding: 1rem;
  font-size: 2em;
}

.state-display ul {
  margin: 0;
  padding-left: 0.5em;
  list-style-type: none;
}

.state-display li:hover {
  color: #d00;
  text-decoration: underline;
  text-decoration-skip: ink;
  cursor: pointer;
}

.state-display .master {
  font-weight: 800;
}

.state-display-inner {
  position: fixed;
}

.state-display pre {
  width: 100%;
  background: #eee;
  padding: 0.5rem;
  font-size: 1rem;
}

.state-display .dust {
  margin-top: 0.5rem;
  font-size: 1rem;
}
